@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #302826;
  --light-primary-color: #fefded;
  --dark-primary-color: #262021;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RocknRoll One", sans-serif;
  max-width: 100vw;
  /* overflow: hidden; */
  min-height: 100vh;
  background-color: var(--light-primary-color);
}

main {
  min-height: 82.9vh;
}

a {
  text-decoration: none;
}
